:root {
  --background-body-color: rgb(255, 255, 255);
  --background-body-color-2: rgb(247, 249, 250);

  --navbar-background-light: rgb(223, 230, 237);
  --navbar-background-dark: rgb(158, 173, 186);

  --text-color: rgb(41, 56, 69);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;
  background: var(--background-body-color);
  color: var(--text-color);
}

.navbar {
  background: var(--navbar-background-dark);
}

.container {
  background-color: var(--background-body-color-2);
}
